body.entreprise
{
  background-color: #FFF;
  padding-top: 100px;
}
.container-fluid.entreprise
{
  background-color: #6D6E71;
}
img.img-fluid.entreprise{
  height: 100% !important;
  width: 100% !important;
}
.one
{
  /*background: linear-gradient(#ff66c4, #ffde59);
  clip-path:ellipse(100% 100% at 0% 50%);*/
  padding-top: 50px;
  padding-bottom: 0px;
}
p.clippy_content
{
  padding: 40px;
}
h1.title_baseline, .title_baseline.h1
{
  margin-top: 70px !important;
}
h1.title_baseline
{
  color: #ff66c4;
  margin-bottom: 40px;
  font-size: 45px !important;
}
h2.title_pricing.entreprise{
  font-weight: 600;
  color: #FF914d;
  font-size: 40px;
  margin-bottom: 50px;
}
h3.title_entreprise
{
  color: #ff66c4;
}
h6.sub_title_entreprise
{
  font-size: 23px;
}
.btn-1 
{
  background-color: #FF914d;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  margin-top: 30px;
}
img.img-fluid.icon
{
  height: 50% !important;
  width: 21% !important;
}
.two
{
  /*background: linear-gradient(#ff66c4, #ffde59);
  clip-path:ellipse(100% 100% at 100% 50% );*/
  padding-top: 50px;
  padding-bottom: 0px;
}
/*--------------
image overlapping
--------------*/
// Relevant styles
.image-stack {
  display: grid;
  position: relative; // imperative for the overlapping to work
  grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 20%; // slightly arbitrary, keeps proportion once resized
  z-index: 1; // tells the browser to make this image on top
}

img.overlapping {
  width: 60%;
  display: block;
}
h1.title_baseline
{
  margin-top: 40px;
}
/*------------------
section sponsors
-------------------*/
aside.entreprise
{
  background: linear-gradient(#ff66c4, #ffde59);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 40px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .img-fluid
  {
    height: 200px;
    widows: 200px;
  }
  #img-cover
  {
    height: 100%;
    widows: 100%;
  }
}
@media (min-width: 768px){
  .image-stack {
    margin-top: 50px;
  }
}
@media (min-width: 992px){
  .image-stack {
    margin-top: 50px;
  }
  img.overlapping {
    width: 60%;
  }
}
/*--------------------
only mobile
---------------------*/
@media (min-width: 100px) and (max-width: 575px) {
  .col-lg-6.col-md-12.col-sm-12.order-lg-1.order-md-2.order-sm-2{
    order: 2;
  }
  .col-lg-6.col-md-12.col-sm-12.order-lg-2.order-md-1.order-sm-1.clippy{
    order: 1;
  }
  h1.title_baseline
    {
      color: #ff66c4;
      margin-bottom: 40px;
      font-size: 40px !important;
      margin-top: 0px;
    }
    h1.title_baseline, .title_baseline.h1
    {
      margin-top: 0px !important;
    }
    h6.sub_title_entreprise
    {
      font-size: 20px;
    }
    img.overlapping {
    width: 80%;
    display: block;
  }
}
