body.entreprise
{
  background-color: #FFF;
  padding-top: 100px;
}
.container-fluid.entreprise
{
  background-color: #d9d9d9;
}
img.img-fluid.entreprise
{
  height: 100% !important;
  width: 100% !important;
}
.one
{
  /*background: linear-gradient(#ff66c4, #ffde59);
  clip-path:ellipse(100% 100% at 0% 50%);*/
  padding-top: 50px;
  padding-bottom: 0px;
}
p.clippy_content
{
  font-size: 20px;
}
h1.title_baseline, .title_baseline.h1
{
  margin-top: 70px !important;
}
h1.title_baseline
{
  color: #ff66c4;
  margin-bottom: 40px;
  font-size: 45px !important;
}
h2.title_pricing.entreprise{
  font-weight: 600;
  color: #FF914d;
  font-size: 40px;
  margin-bottom: 50px;
}
h3.title_entreprise
{
  color: #FF914d;
}
h6.sub_title_entreprise
{
  font-size: 23px;
}
.btn-1 
{
  background-color: #FF914d !important;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  margin-top: 30px;
}
img.img-fluid.icon
{
  height: 50% !important;
  width: 21% !important;
}
img.img-fluid.boxe
{
  height: 80%;
  width: 70%;
}
.two
{
  /*background: linear-gradient(#ff66c4, #ffde59);
  clip-path:ellipse(100% 100% at 100% 50% );*/
  padding-top: 50px;
  padding-bottom: 0px;
}
h1.title_baseline
{
  margin-top: 40px;
}
/*------------------
section sponsors
-------------------*/
aside.entreprise
{
  background: linear-gradient(#ff66c4, #ffde59);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 40px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  
}
@media (min-width: 768px){
  
}
/*--------------------
only mobile
---------------------*/
@media (min-width: 100px) and (max-width: 575px) {
  .col-lg-6.col-md-12.col-sm-12.order-lg-1.order-md-2.order-sm-2.clippy.clippy{
    order: 1;
  }
  .col-lg-6.col-md-12.col-sm-12.order-lg-2.order-md-1.order-sm-1.clippy{
    order: 2;
  }
  .col-lg-6.col-md-12.col-sm-12.order-lg-1.order-md-2.order-sm-2.content.one
  {
     order: 2;
  }
  .col-lg-6.col-md-12.col-sm-12.order-lg-2.order-md-1.order-sm-1.content.two
  {
    order: 1;
  }
  h1.title_baseline
    {
      color: #ff66c4;
      margin-bottom: 40px;
      font-size: 40px !important;
      margin-top: 0px;
    }
    h1.title_baseline, .title_baseline.h1
    {
      margin-top: 0px !important;
    }
    h6.sub_title_entreprise
    {
      font-size: 20px;
    }
    img.overlapping
    {
      width: 80%;
      display: block;
    }
      img.img-fluid.boxe
    {
      height: 100% !important;
      width: 100% !important;
    }
    img.img-fluid.entreprise
    {
      height: 100% !important;
      width: 100% !important;
    }
    img.img-fluid.jch
      {
        width: 90% !important;
        height: 66% !important;
      }
}

