body.entreprise
{
  background-color: #FFF;
  padding-top: 100px;
}
.container-fluid.entreprise
{
  background-color: #d9d9d9;
  padding-bottom: 1rem;
}
.container.video
{
  padding-top: 3rem;
  text-align: justify;
}
img.img-fluid.entreprise
{
  height: 100% !important;
  width: 100% !important;
}
.one
{
  padding-top: 50px;
  padding-bottom: 0px;
}
.colonie
{
  padding-top: 5px;
  padding-bottom: 0px;
}
p.clippy_content
{
  font-size: 20px;
}
h1.title_baseline, .title_baseline.h1
{
  margin-top: 70px !important;
}
h1.title_baseline
{
  color: #ff66c4;
  margin-bottom: 40px;
  font-size: 45px !important;
}
h2.title_pricing.entreprise{
  font-weight: 600;
  color: #FF914d;
  font-size: 40px;
  margin-bottom: 50px;
}
h2.title_pricing_entreprise{
  font-weight: 600;
  color: #FF914d;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 30px;
}
h3.title_comité
{
  color: #FF914d;
  margin-top: 43px;
}
h3.title_scolaire
{
  color: #FF914d;
  margin-top: -8px;
}
h3.title_colonie
{
  color: #FF914d;
  margin-top: 0px;
}
h3.title_entreprise
{
  color: #FF914d;
}
h6.sub_title_entreprise
{
  font-size: 23px;
}
.btn.btn-warning
{
  background-color: #FF914d !important;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  margin-top: 30px;
}
img.img-fluid.icon
{
  height: 50% !important;
  width: 21% !important;
}
img.img-fluid.boxe
{
  height: 100%;
  width: 80%;
  margin-top: 0px;
}
.two
{
  /*background: linear-gradient(#ff66c4, #ffde59);
  clip-path:ellipse(100% 100% at 100% 50% );*/
  padding-top: 50px;
  padding-bottom: 0px;
}
h1.title_baseline
{
  margin-top: 40px;
}
/*------------------
section sponsors
-------------------*/
aside.entreprise
{
  background: linear-gradient(#ff66c4, #ffde59);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 40px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .container.video
  {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
    .one
  {
    padding-top: 5px;
    padding-bottom: 0px;
  }
}
@media (min-width: 768px){
    .container.video
  {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
    .one
  {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  img.img-fluid.colo
  {
    width: 70% !important;
    height: 55% !important;
    margin-top: 12px;
  }
}
/*--------------------
only mobile
---------------------*/
@media (min-width: 100px) and (max-width: 575px) {
  .col-lg-6.col-md-12.col-sm-12.order-lg-1.order-md-2.order-sm-2.clippy.clippy{
    order: 1;
    margin-bottom: 20px;
  }
  .col-lg-6.col-md-12.col-sm-12.order-lg-2.order-md-1.order-sm-1.clippy{
    order: 2;
  }
  .col-lg-6.col-md-12.col-sm-12.order-lg-1.order-md-2.order-sm-2.content.one
  {
     order: 2;
  }
  .col-lg-6.col-md-12.col-sm-12.order-lg-2.order-md-1.order-sm-1.content.two
  {
    order: 1;
  }
  .col-lg-6.col-md-12.col-sm-12.order-lg-1.order-md-1.order-sm-1.first_last
  {
    order: 1;
  }
  h1.title_baseline
    {
      color: #ff66c4;
      margin-bottom: 40px;
      font-size: 40px !important;
      margin-top: 0px;
    }
    h1.title_baseline, .title_baseline.h1
    {
      margin-top: 0px !important;
    }
    h6.sub_title_entreprise
    {
      font-size: 20px;
    }
    img.overlapping
    {
      width: 80%;
      display: block;
    }
      img.img-fluid.boxe
    {
      height: 100% !important;
      width: 100% !important;
    }
    img.img-fluid.entreprise
    {
      height: 100% !important;
      width: 100% !important;
    }
    img.img-fluid.jch
      {
        width: 90% !important;
        height: 66% !important;
        margin-left: -43px;
      }
      p.clippy_content
      {
        margin-bottom: 30px;
      }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px){

}
// Large devices (desktops, 992px and up)

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  img.img-fluid.boxe {
    margin-top: 70px !important;
  }
}
