.section_home
{
	background-color: #FFFFFF;
	padding-top: 8rem;
}
.section_home h1
{
	color: red;
}
.section_home p
{
	color: #000000;
}
@media (min-width: 100px) and (max-width: 575px) {
  .col-lg-6.col-md-12.col-sm-12.order-md-1.order-sm-1{
    order: 1;
  }
  .col-lg-6.col-md-12.col-sm-12.order-md-2.order-sm-2{
    order: 2;
  }
}
.section_sponsor
{
	background-color: #FFFFFF;
}
.aside-home
{
	background-color: #FFFFFF;
	padding-bottom: 7rem;
}
hr 
{
	margin: 0rem 0;
  border: none;
  border-top: 1px solid #333;
}
.card-body
{
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  height: 310px;
}
.card.home
{
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	margin-bottom: 30px;
}
H5.card-title
{
	margin-top: 20px;
	margin-bottom: 20px;
}
h5.aside-home
{
	padding-top: 5px;
	padding-bottom: 5px;
}
