.section_home
{
	background-color: #FFFFFF;
	padding-top: 8rem;
}
.section_home h1
{
	color: red;
}
.section_home p
{
	color: #000000;
}
@media (min-width: 100px) and (max-width: 575px) {
  .col-lg-6.col-md-12.col-sm-12.order-md-1.order-sm-1{
    order: 1;
  }
  .col-lg-6.col-md-12.col-sm-12.order-md-2.order-sm-2{
    order: 2;
  }
}
.section_sponsor
{
	background-color: #FFFFFF;
}
