.container.merci
{
  padding-top: 7rem;
}
.section_merci
{
	background-color: #d9d9d9;
	padding-top: 4rem;
  padding-bottom: 2rem;
}
.btn.btn-outline-secondary.disabled
{
	padding: 20px;
	font-size: 40px;
	margin-bottom: 40px;
	color: #000;
}
p.text-center.merci
{
	color: #FF914d !important;
	font-size: 23px;
	margin-bottom: 50px;
}
.gallery {
  max-width: 1200px;
  margin: 0 auto;
  column-count: 4;
  font-family: arial;
}
.gallery-item {
  break-inside: avoid;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.gallery-item h6
{
  color: #FF6000;
}
.gallery-item figure {
  margin: 0;
  position: relative;
}
.gallery-item img {
	padding-top: 10px;
  width: 50%;
  border-radius: 14px;
}
.gallery-item p {
  margin: 0;
  padding: 8px;
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 1;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .gallery {
    column-count: 1;
  }
	  .gallery-item img {
	  width: 50%;
	}
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  .gallery {
    column-count: 3;
  }
}
