.container.title
{
  padding-top: 7rem;
}
.section_private
{
  margin-top: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #d9d9d9;
}
.section_private.duo
{
  margin-top: 3.5rem;
  padding-bottom: 4rem;
  background-color: #d9d9d9;
}
.section_private h5
{
  color:#000;
}
.section_private.duo h5
{
  color: #000;
}
.section_private_1 h5
{
  color: #000;
}
.section_private h1
{
  margin-bottom: 4rem;
  font-size: 40px;
}
.section_private h2
{
  margin-bottom: 2rem;
  color: #FF914d !important;
  font-weight: 600;
  font-size: 35px;
}
.section_private_1
{
  padding-top: 3.5rem;
  background-color: #FFF;
}
#content_private
{
  margin-bottom: 10px;
}
.section_private_1 .card-product-private
{
  overflow: hidden;
  height: 200px;
  background-color: #FFF;
  display: flex;
  align-items: center;
}
.section_private_1 h2
{
  margin-bottom: 2rem;
  color: #FF914d !important;
  font-weight: 600;
  font-size: 35px;
}
.btn.btn-home
{
  color: #FFF;
}
/*----------
CARD
-----------*/
.card-product-private {
  overflow: hidden;
  height: 200px;
  background: #d9d9d9;
  display: flex;
  align-items: center;
}
.card-product-private img
{
  margin-right: 10px;
}
/*-----------
MODAL
___________*/

