.container.title
{
  padding-top: 7rem;
}
.section_private
{
  margin-top: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #FFF;
}
.section_private.duo
{
  margin-top: 4rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: #d9d9d9;
}
.section_private h5
{
  color:#000;
}
h6.name
{
  color: #19A7CE !important;
  text-transform: capitalize;
}
.section_private.duo h5
{
  color: #000;
}
.section_private_1 h5
{
  color: #000;
}
.section_private h1
{
  margin-bottom: 4rem;
  font-size: 40px;
}
.section_private h2
{
  margin-bottom: 2rem;
  color: #FF914d !important;
  font-weight: 600;
  font-size: 35px;
}
.section_private_1
{
  padding-top: 3.5rem;
  background-color: #FFF;
}
#content_private
{
  margin-bottom: 10px;
}
.section_private_1 .card-product-private
{
  overflow: hidden;
  height: 200px;
  background-color: #FFF;
  display: flex;
  align-items: center;
}
.section_private_1 h2
{
  margin-bottom: 2rem;
  color: #FF914d !important;
  font-weight: 600;
  font-size: 35px;
}
.btn.btn-home
{
  color: #FFF;
}
/*----------
CARD
-----------*/
.card-product-private {
  overflow: hidden;
  height: 200px;
  background: #FFF;
  display: flex;
  align-items: center;
}
.section_private.duo .card-product-private
{
  overflow: hidden;
  height: 200px;
  background: #d9d9d9;
  display: flex;
  align-items: center;
}
.section_private.duo h6
{
  margin-top: 5px;
}
.card-product-private img
{
  margin-right: 10px;
}
/*-----------
MODAL
___________*/
img.img-fluid.duo
{
  height: 80% !important;
  width: 100% !important;
  margin-top: 13px;
}
#last_col
{
  margin-top: 13px;
}
#two_col
{
  margin-top: 15px;
}
