h1.text-center.title_private
{
	margin-top: 100px;
	margin-bottom: 30px;
	color: #FFFFFF;
}

.cards.private{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
h5.text-center.text_map
{
	color:#FFFFFF;
	margin-bottom:30px
}
iframe
{
	margin-bottom:50px;
}


/*----------------------
TESTAMONIAL
-----------------------*/
.question {
  background: #000000;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
  border-radius: 2px;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.question-title p {
  color: #ffffff;
  font-weight: bolder;
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #fff;
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 5px solid #4f772d;
}

/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

