<div class="container-fluid">
	<div class="row">
		<h1 class="text-center title_about">Qui suis je</h1>
		<div class="col-md-6">
			<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(mad_profil.png);">
	    </div>
		</div>
		<div class="col-md-6 text-center">
			<h1 class="sub_title">Mademba Diop</h1>
			<p class="sub_content">
			Le sport fait partie intégrante de mon <strong>bien-être</strong>. Enfant hyperactif, j’ai successivement pratiqué le judo, le handball, le football, le basket-ball (10 ans) avant de faire la connaissance de la boxe française pendant mes études universitaires.<br><br>
			Ce sport de percussion qui sollicite l'ensemble du corps m’a spontanément plu et beaucoup apporté. <strong>Après 4 ans de compétitions</strong> j’ai décidé de me former pour transmettre toutes les valeurs, les codes et valeurs intrinsèques à la boxe : courage, discipline, résilience, maîtrise de soi, précision et gestion du stress.<br><br>

			<strong>Coach sportif depuis 2013</strong>, j’enseigne la boxe française à un public composé d’enfants, d’hommes et de femmes issus de tous milieux sociaux avec un objectif en tête: 
			<strong>Rendre heureux le plus grand nombre d’individus par le sport en ayant un impact positif sur leur bien-être et leur santé physique et psychique.</strong>
		  </p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 text-center">
			<h1 class="sub_title_philo">Ma philosophie</h1>
			<p class="sub_content_philo">
				J'entrevois le sport et la boxe plus particulièrement comme une métaphore de la vie : <strong>vaincre ses peurs, relever des défis, échouer, apprendre, se relever, gagner.</strong><br><br>
				C’est un booster d'énergie en ceci que sa pratique joue, à mes yeux, un rôle primordial sur la santé morale et physique de ses pratiquants.<br><br>
				Pour moi, la boxe française est un outil qui aiguise <strong>la confiance en soi</strong>, la confiance en sa capacité à dépasser ses limites, la gestion des temps forts et faibles<br><br>
				de maîtrise corporelle et de confiance en sa capacité à dépasser ses limites, à gérer les temps forts et faibles, et réaliser les choses…<br><br>
			</p>
		</div>
		<div class="col-md-6">
			<div class="banner profil" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(philo.png);">
	    </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="banner concept" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img_concept.png);">
	    </div>
		</div>
		<div class="col-md-6 text-center">
			<h1 class="sub_title_concept">Mon concept</h1>
			<p class="sub_content_concept">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
			</p>
		</div>
	</div>

</div>

<div class="album py-5 bg-black">
    <div class="container">
    		<h1 class="text-center sub_title mb-5">Mes certifications</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Certification</text></svg>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Certification</text></svg>     
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Certification</text></svg>
          </div>
        </div>
 			</div>
    </div>
</div>

<div class="container mb-5 mt-5 pb-5 pt-5">
	<h1 class="text-center sub_title mb-5">Galerie photos</h1>
	<div class="cards profil">
		<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(boxe_1.png)">
	  </div>
	  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(boxe_2.png)">
	  </div>
	  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(boxe_3.png)">
	  </div>
	  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(boxe_9.png)">
	  </div>
	  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(boxe_6.png)">
	  </div>
	  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(boxe_8.png)">
	  </div>
	  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(boxe_7.png)">
	  </div>
	  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(boxe_10.png)">
	  </div>
	</div>
</div>
<!-- <h1>Page about</h1>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section mb-5">
  <div class="container">
	  <div class="row">
	  	<h1 class="text-center mt-5 pb-5">Qui suis je ?</h1>
	      <div class="col-md-6 col-sm-6 col-xs-12">
	          <div class="aboutus  pt-5">
	              <h2 class="aboutus-title">Mademba Diop | <strong>Coach boxe Française</strong></h2>
	              <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
	              <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
	              <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
	          </div>
	      </div>
	      <div class="col-md-6 col-sm-6 col-xs-12">
	          <div class="aboutus-banner">
	              <img src="https://images.unsplash.com/photo-1590070714379-e894212d7838?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="d-block w-50" alt="...">
	          </div>
	      </div>
	   </div>
  </div>
</div> -->
