<h1>Page about</h1>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section mb-5">
  <div class="container">
	  <div class="row">
	  	<h1 class="text-center mt-5 pb-5">Qui suis je ?</h1>
	      <div class="col-md-6 col-sm-6 col-xs-12">
	          <div class="aboutus  pt-5">
	              <h2 class="aboutus-title">Mademba Diop | <strong>Coach boxe Française</strong></h2>
	              <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
	              <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
	              <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
	          </div>
	      </div>
	      <div class="col-md-6 col-sm-6 col-xs-12">
	          <div class="aboutus-banner">
	              <img src="https://images.unsplash.com/photo-1590070714379-e894212d7838?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="d-block w-50" alt="...">
	          </div>
	      </div>
	   </div>
  </div>
</div>
