<div class="container text-center" style="margin-top: 100px;">
	<h2 class="title_pricing">RESERVEZ VOTRE COURS</h2>	
</div>
<section class="calendly" style="background-color:#d9d9d9;">
	<div class="container">
			<!-- Début de widget en ligne Calendly -->
			<div class="calendly-inline-widget" 
				data-url="https://calendly.com/madboxing/coaching-prive" 
				style="min-width:320px;height:630px;">
			</div>

			<script type="text/javascript" 
				src="https://assets.calendly.com/assets/external/widget.js" async>
			</script>
			<!-- Fin de widget en ligne Calendly -->
	</div>
</section>
