<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section mb-5">
  <div class="container">
	  <div class="row">
	  	<h1 class="text-center mt-5 pb-5">Qui suis je ?</h1>
	      <div class="col-md-6 col-sm-6 col-xs-12">
	          <div class="aboutus  pt-5">
	              <h2 class="aboutus-title">Mademba Diop | <strong>Coach boxe Française</strong></h2>
	              <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
	              <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
	              <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
	          </div>
	      </div>
	      <div class="col-md-6 col-sm-6 col-xs-12">
	          <div class="aboutus-banner">
	              <img src="https://images.unsplash.com/photo-1590070714379-e894212d7838?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="d-block w-50" alt="...">
	          </div>
	      </div>
	      <h1 class="text-center mt-5 pb-5">Ma philosophie</h1>
	      <div class="col-md-12">
	      	<p class="my_philo">
	      		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	      	</p>
	      </div>
	   </div>
  </div>
</div>

 <div class="container marketing mb-5">
  <div class="row featurette mb-5">
  	<h1 class="text-center mt-5 pb-5">Ma proposition</h1>
    <div class="col-md-7 mt-5">
    	<h2 class="text-center featurette-heading fw-normal lh-1"><span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
    	<img class="img-fluid"  src="https://images.unsplash.com/photo-1514050566906-8d077bae7046?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" class="d-block w-50" alt="..." width="100%" height="100" >
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mb-5">
    <div class="col-md-7 order-md-2 mt-5">
      <h2 class="text-center featurette-heading fw-normal lh-1"><span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="img-fluid"  src="https://images.unsplash.com/photo-1611077479643-5b3c01381f9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1056&q=80" class="d-block w-50" alt="..." width="100%" height="100" >
    </div>
  </div>


  <div class="row featurette  mb-5">
    <div class="col-md-7 mt-5">
      <h2 class="text-center featurette-heading fw-normal lh-1"><span class="text-muted">Checkmate.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid"  src="https://images.unsplash.com/photo-1606335543042-57c525922933?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80" class="d-block w-50" alt="..." width="100%" height="100" >
    </div>
  </div>
</div>

<!-- <div class="section_card">
<div class="container-fluid">
		<div class="cards">
		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
		    Breakfast
		  </div>

		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
		    Lunch
		  </div>

		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
		    Dinner
		  </div>
		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
		    Breakfast
		  </div>

		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
		    Lunch
		  </div>

		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
		    Dinner
		  </div>
		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
		    Breakfast
		  </div>

		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
		    Lunch
		  </div>

		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
		    Dinner
		  </div>
		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
		    Breakfast
		  </div>

		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
		    Lunch
		  </div>

		  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
		    Dinner
		  </div>
	  </div>
	</div>
</div> -->