<article>
  <div class="container-720 text-center">
    <h1 class="title_pricing">CONDITIONS DE VENTES</h1>
  </div>
</article>

<section class="conditions">
  <div class="container">
    <h3 class="text-center">Mises à jour le 27 avril 2023
    </h3>
    <h5 class="text-center">BEYOND BOXING</h5>
    <h6 class="text-center">
      Mademba EIRL - SIREN : 803639459
    </h6>
    <h6 class="text-center">
      Siège social : 37, rue Veuve Lacroix - 92250 La Garenne-Colombes
    </h6>
    <h4 class="sub_title">
      ARTICLE 1 -Domaine d'application
    </h4>
    <p>
    Les conditions générales de ventes décrites ci-après détaillent les droits et obligations de Mademba EIRL  <b>(« Beyond Boxing »)</b> et de toute personne physique ou morale qui achète l’une des prestations de service décrites ci-après en échange d’un paiement, <b>(le « Client »)</b> et régissent la vente de services listés à l’article 5 sur le site <a href="https://www.beyondboxing.fr/" >www.beyondboxing.fr</a> à compter de la validation de la commande par le client jusqu’à la réalisation de la prestation.
    </p>

    <h4 class="sub_title">
      ARTICLE 2 - Acceptation et champ d’application
    </h4>
    <p>
    Toute acceptation des devis, bons de commande de prestations en ce compris la clause « Je reconnais avoir pris connaissance et j’accepte les conditions générales de vente ci-annexées » implique l’acceptation sans réserve par le Client et son adhésion pleine et entière aux présentes conditions générales de vente qui prévalent sur tout autre document du Client, sauf négociation de conditions particulières entre les parties.
    </p>

    <h4 class="sub_title">
      ARTICLE 3 - Dispositions contractuelles
    </h4>
    <p>
    La nullité d’une clause contractuelle n’entraîne pas la nullité des conditions générales de vente de services sauf s’il s’agit d’une clause impulsive et déterminante ayant amené l’une des parties à conclure le contrat de prestation de services.
    </p>

    <h4 class="sub_title">
      ARTICLE 4 - Modification des conditions générales
    </h4>
    <p>
    Beyond Boxing se réserve la faculté de modifier ses conditions générales de ventes à tout moment.
    La version applicable sera donc celle en vigueur sur le site à la date de passation de la commande.
    </p>

    <h4 class="sub_title">
      ARTICLE 5 - Objet - Traitement
    </h4>
    <p>
    Les présentes conditions générales de vente établissent les conditions contractuelles exclusivement applicables aux prestations de services dont la liste suit : <br>
    - cours de boxe française sur mesure d'une heure ; <br>
    - initiation ou perfectionnement de boxe française ; et <br>
    - ateliers sport santé cours collectifs.
    </p>

    <h4 class="sub_title">
      ARTICLE 6 – Réservation des cours
    </h4>
    <p>
    La réservation des cours privés se fait en ligne sur le <a href="https://www.beyondboxing.fr/" >www.beyondboxing.fr</a><br>
    - choix par le Client d’une séance à l’unité, ou toute autre formule proposée par le Beyond Boxing en cliquant sur le bouton « réserver un cours » ; <br>
    - redirection vers un agenda en ligne (calendly) pour choisir le créneau horaire convenant. <br>
    La réservation n’est prise en compte qu’une fois le règlement reçu par Beyond Boxing.<br>
    Le Client doit être majeur pour réserver un cours à l’unité ou souscrire une formule.
    </p>

    <h4 class="sub_title">
      ARTICLE 7 - Tarifs
    </h4>
    <h6>7.1 Prix</h6>
    <p>
    Les prix s’entendent toutes taxes comprises sur la base des tarifs en vigueur qui figurent en annexe aux présentes pour les cours privés.<br>
    Pour les personnes morales, les prix s’entendent hors taxes.<br>
    out impôt, taxe, droit ou autre prestation à payer en application de la législation française et toute modification de ceux-ci sont à la charge du Client.<br>
    Si les prestations concernées ne sont pas mentionnées dans la grille tarifaire alors Beyond Boxing communiquera au Client le prix applicable en réponse au bon de commande.
    </p> <br><br>

    <h6>7.2 Modification du prix</h6>
    <p>
    Beyond Boxing se réserve le droit de modifier unilatéralement les prix des services à tout moment, notamment en cas d’augmentation des coûts, étant entendu que, en cas d’augmentation des prix postérieure à la commande, seul le prix fixé au jour de cette commande sera applicable au Client.
    </p>

    <h4 class="sub_title">
      ARTICLE 8 - Facturation
    </h4>
    <p>
    La facture reprend les informations ci-dessous : <br>
    - 	prestation concernée ou référence de la prestation ; et <br>
    - 	prix unitaire de la prestation.<br>
    La facture sera adressée directement au Client par Beyond Boxing.<br>
    La facture sera transmise à l’adresse mail communiquée par le Client.
    </p>

    <h4 class="sub_title">
      ARTICLE 9 – Modalités de paiement
    </h4>
    <p>
    Le règlement s’effectue : <br>
    - soit par virement bancaire ; <br>
    - soit par chèque ; ou <br>
    - soit en ligne via l’application. <br>
    Pour les personnes morales, les règlements seront effectués sous 30 jours suivant la date de la facturation.
    </p>

    <h4 class="sub_title">
      ARTICLE 10 – Référence commerciale
    </h4>
    <p>
    Sauf indication expresse contraire, le Client autorise Beyond Boxing par la commande de prestations auprès de Beyond Boxing à la publication de visuels (photos, vidéos, d’avatar) ou autres témoignages pouvant le représenter à des fins publicitaires et commerciales. <br> <br>
    Selon les articles 226-1 à 226-8 du code civil, tout individu jouit d’un droit au respect de sa vie privée ainsi que d’un droit à l’image.<br>
    En vertu de ces dispositions, la publication ou la reproduction d’une photographie ou d’une autre information sur laquelle une personne est clairement reconnaissable est possible avec son consentement préalable.<br>
    Font exception à cette règle les photos de foule où la personne n’est pas le sujet central ou bien les photos prises de loin ou de dos.
    <br>
    Le Client peut s’opposer à l’utilisation ultérieure desdits visuels et informations en l’indiquant par écrit à <%= link_to "contact@beyondboxing.com.", new_contact_path %><br>
    </p>

    <h4 class="sub_title">
      ARTICLE 11 – Informatiques et libertés
    </h4>
    <p>
    En application de la loi N°78-017 du 6 Janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le Client est informé que ses réponses au formulaire d’inscription sont nécessaires au traitement et à l’activation de sa réservation auprès de Beyond Boxing.<br>
    Le Client est informé qu’il dispose d’un droit d’accès, d’opposition et de rectification sur les renseignements le concernant, détenus par Beyond Boxing et qui font l’objet d’un traitement informatique.
    <br>
    Ce droit d’accès et de rectification peut être exercé par courrier à l’adresse suivante :  37, rue Veuve Lacroix  - 92250 La Garenne-Colombes.<br>
    Les données concernant le Client sont destinées à la gestion de la prestation du Client par Beyond Boxing.
    <br>
    Pour les personnes morales, les règlements seront effectués sous 30 jours suivant la date de la facturation. <br>
    Le Client consent à ce que Beyond Boxing lui adresse par e-mail, sms ou téléphone, des offres et actualités sur ses services. Le Client peut s’y opposer en adressant un e-mail en ce sens à <%= link_to "contact@beyondboxing.com.", new_contact_path %><br>
    Le Client dispose d’un droit d’accès, de rectification et de suppression relativement aux informations le concernant qu’il peut exercer à tout moment en s’adressant à Beyond Boxing.
    </p>

    <h4 class="sub_title">
      ARTICLE 12 – Règlement des litiges
    </h4>
    <p>
    La présente convention est régie par le droit français.<br><br>
    A défaut de résolution amiable, tout différend entre le Client et Beyond Boxing relatif à l’existence, la validité, l’interprétation, l’exécution et la réalisation de la présente convention (ou de l’une quelconque de ces clauses) sera de la compétence exclusive des juridictions de l’ordre judiciaire de Nanterre.<br><br>

    Fait à La Garenne-Colombes, le 28 avril 2023
    </p>

  </div>
  </section>
