<body class="entreprise">
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-lg-7 col-md-6 col-sm-12 mb-5">
			<h2 class="title_pricing entreprise">Se sentir bien, apaisé et serein</h2>
				<h6 class="sub_title_entreprise">
					<ul>
					<li>
						Offrir une expérience ludique et sportive à vos collaborateurs</h6>
					</li>
				</ul>
				</h6>
				<h6 class="sub_title_entreprise">
					<ul>
						<li>
						Renforcer la cohésion de groupe et la convivialité
					 </li>
					</ul>
				</h6>
				<h6 class="sub_title_entreprise">
					<ul>
						<li>Construire la confiance</li>
					</ul>
				</h6>
			<a class="btn btn-1" href="https://www.beyondboxing.fr/contacts/new" type="button">Demander un devis</a>
		</div>
		<div class="col-lg-5 col-md-6 col-sm-12"style="padding-left: 40px;">
			<img src="montageENT2.png" class="img-fluid entreprise">
			<!-- <div class="image-stack">
		    <div class="image-stack__item image-stack__item--top">
		      <img src="boxe_7.png" alt="" class="overlapping">
		    </div>
		    <div class="image-stack__item image-stack__item--bottom">
		      <img src="boxe_9.png" alt="" class="overlapping">
		    </div>
		  </div> -->
		</div>
	</div>
</div>

 <section slide>
   <div class="container">  
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="ASC-BNP.png" class="img-fluid">
        </div>
        <div class="slide">
          <img src="b9.jpg" class="img-fluid b9">
        </div>
        <div class="slide">
        <img src="csme.jpg" class="img-fluid csme">
        </div>
        <div class="slide">
        <img src="kabubu.png" class="img-fluid kabubu">
        </div>
        <div class="slide" style="margin-right: 60px !important;">
        <img src="colosport-logo.png" class="img-fluid colo">
        </div>
        <div class="slide">
          <img src= "fityou.png"class= "img-fluid fityou">
        </div>
        <div class="slide">
          <img src="b9.jpg" class="img-fluid b9">
        </div>
        <div class="slide">
        <img src="CNOSF.svg.png" class="img-fluid cnosf">
        </div>
        <div class="slide">
        <img src="csme.jpg" class="img-fluid csme">
        </div>
        <div class="slide">
        <img src="kabubu.png" class="img-fluid kabubu">
        </div>
        <div class="slide" style="margin-right: 60px !important;">
        <img src="colosport-logo.png" class="img-fluid colo">
        </div>
        <div class="slide">
        <img src="logo-paris.png" class="img-fluid">
        </div>
        <div class="slide">
        <img src="aljt-logo.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid entreprise">
	<div class="row text-center">
		<h2 class="mt-5">Bien plus qu'un cours, une parenthèse régénératrice pour vos publics</h2>
		<div class="col-lg-4 col-md-4 mt-4">
			<img src="heart.png" class="img-fluid icon">
			<p>Cultiver la bonne humeur <br>et la convivialité
			</p>
		</div>

		<div class="col-lg-4 col-md-4 mt-4">
			<img src="personnes.png" class="img-fluid icon">
			<p>Construire la relation de confiance <br> en soi et aux autres
			</p>
		</div>

		<div class="col-lg-4 col-md-4 mt-4">
			<img src="puzzle.png" class="img-fluid icon">
			<p>Renforcer la confiance de groupe
			</p>
		</div>
	</div>
</div>

<div class="container-fluid mt-5 ">
	<div class="row mb-5">
		<div class="col-lg-6 col-md-12 col-sm-12 clippy">
			<section class="one">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/qxnLATrUDb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </iframe>
			</section>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<p class="clippy_content">
			<h3 class="title_entreprise">Comité d'entreprise</h3>
				"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishin"
			</p>
		</div>
	</div>

	<div class="row mb-5">
		<div class="col-lg-6 col-md-12 col-sm-12 order-lg-1 order-md-2 order-sm-2">
			<p class="clippy_content">
			<h3 class="title_entreprise">Title content</h3>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishin
			</p>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-1 order-sm-1 clippy" >
			<section class="two">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/qxnLATrUDb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</section>
		</div>
	</div>

	<div class="row mb-5">
		<div class="col-lg-6 col-md-12 col-sm-12 clippy">
			<section class="one">
				<iframe width="100%" height="300px" src="https://www.youtube.com/embed/HTYgFl8NuNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
			</section>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<p class="clippy_content">
			<h3 class="title_entreprise">Title content</h3>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishin
			</p>
		</div>
	</div>

</div>	
</body>
