<body class="entreprise">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 mb-5">
        <h2 class="title_pricing_entreprise">
        SE SENTIR BIEN, APAISE ET SEREIN</h2>
          <h6 class="sub_title_entreprise">
            <ul>
            <li>
              Offrir une expérience ludique et sportive à vos collaborateurs</h6>
            </li>
          </ul>
          </h6>
          <h6 class="sub_title_entreprise">
            <ul>
              <li>
              Renforcer la cohésion de groupe et la convivialité
            </li>
            </ul>
          </h6>
          <h6 class="sub_title_entreprise">
            <ul>
              <li>Construire la confiance</li>
            </ul>
          </h6>
        <a class="btn btn-warning" href="https://www.beyondboxing.fr/contacts/new" type="button">Demander un devis</a>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12">
        <img src="montageENT2.png" class="img-fluid entreprise">
        <!-- <div class="image-stack">
          <div class="image-stack__item image-stack__item--top">
            <img src="boxe_7.png" alt="" class="overlapping">
          </div>
          <div class="image-stack__item image-stack__item--bottom">
            <img src="boxe_9.png" alt="" class="overlapping">
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <section slide>
    <div class="container">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="ASC-BNP.png" class="img-fluid asc">
          </div>
          <div class="slide">
          <img src="kabubu.png" class="img-fluid kabubu">
          </div>
          <div class="slide">
          <img src="CNOSF.svg.png" class="img-fluid cnosf">
          </div>
          <div class="slide">
          <img src="csme.jpg" class="img-fluid csme">
          </div>
          <div class="slide">
            <img src= "fityou-color.PNG"class= "img-fluid fityou">
          </div>
          <div class="slide">
          <img src="aljt-logo.png" class="img-fluid aljt">
          </div>
          <div class="slide">
          <img src="jch.png" class="img-fluid jch">
          </div>
          <div class="slide">
          <img src="kabubu.png" class="img-fluid kabubu">
          </div>
          <div class="slide">
            <img src="b9.jpg" class="img-fluid b9">
          </div>
          <div class="slide" style="margin-right: 60px !important;">
          <img src="colosport-logo.png" class="img-fluid colo">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid entreprise">
    <div class="row text-center">
      <h2 class="mt-5">Bien plus qu'un cours, une parenthèse régénératrice pour vos publics</h2>
      <div class="col-lg-4 col-md-4 mt-4">
        <img src="heart.png" class="img-fluid icon">
        <p>Cultiver la bonne humeur <br>et la convivialité
        </p>
      </div>

      <div class="col-lg-4 col-md-4 mt-4">
        <img src="personnes.png" class="img-fluid icon">
        <p>Construire la relation de confiance <br> en soi et aux autres
        </p>
      </div>

      <div class="col-lg-4 col-md-4 mt-4">
        <img src="puzzle.png" class="img-fluid icon">
        <p>Renforcer la cohésion de groupe
        </p>
      </div>
    </div>
  </div>

  <div class="container video">
    <div class="row mb-5">
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-1 order-md-2 order-sm-2 content.one">
        <section class="one">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/qxnLATrUDb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </iframe>
        </section>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-1 order-sm-1 content.two">
        <h3 class="title_comité">Comité d'entreprise</h3>
        <p class="clippy_content">
          "Bien qu'ayant une vision sur un programme annuel, Alexandre n'hésite pas à ajuster ou à modifier le programme du jour, pour s'adapter au niveau technique et à la condition physique des boxeurs présents à la sienne Le groupe progresse continuellement sans jamais pour autant se mettre en danger"
          <b>Florent, Secrétaire de l'association ASC BNPP section boxe française (Paris)</b>
        </p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-1 order-md-1 order-sm-1 clippy.clippy">
        <h3 class="title_scolaire">Etablissement scolaire</h3>
        <p class="clippy_content">
          "Nous avons eu de la chance d'accueillir Mademba lors d'un de nos stages de vacances ludiques d'anglais sur thème des pirates pour une session de boxe... Il faut bien qu'ils sachent se défendre sur leur navire ! Les enfants ont passé un merveilleux moment et Mademba s'est efforcé à rentrer dans le thème de notre stage, il a même produit des diplômes en lien avec les pirates ! Depuis la prise de contact jusqu'au suivi post prestation Mademba s'est montré attentif, bienveillant et méticuleux pour répondre au mieux à nos attentes et au-délà. Mademba parle parfaitement bien anglais ce qui a aidé beaucoup d'enfants non francophones. Il a une parfaite compréhension des enfants et de leur rythme rendant très simple l'organisation. Les enfants en parlent encore et font des gestes de boxe dans le vide, Mademba a clairement déclanché une confiance en soi supplémentaire dans les enfants, les valeurs de respect et de persévérance. Merci<br> <b>Alexia, Fondatrice de ByBackhouse (Saint Germain-en-Laye)</b>
        </p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-2 order-sm-2 clippy" >
        <div class="text-center">
          <img src="BOXE.jpg" class="img-fluid boxe">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-1 order-md-2 order-sm-2 content.one">
        <section class="colonie">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/jD5d1bUT3-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
          </iframe>
        </section>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-1 order-sm-1 content.two">
        <h3 class="title_colonie">Colonie de vacances</h3>
        <p class="clippy_content">
          "Alexandre est un professeur à l'écoute des enfants. Son expérience lui permet de pouvoir répondre aux besoins des mineurs, peu importe l'âge de ces derniers. Tous les enfants avaient le sourire et l'envie de découvrir la boxe avec lui."
          <b>Benjamin, Directeur de centre de colonie de vacances Colosport (Liginiac)</b>
        </p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-1 order-md-1 order-sm-1 first_last">
        <h3 class="title_entreprise">Centre social</h3>
        <p class="clippy_content">
          "A l'occassion de la Journée internationale des Droits des Femmes, Alexandre nous a fait l'honneur d'animer un atelier sport santé au centre social Le village. Pendant près de 2h00, nous nous sommes initiées à la boxe française dans une ambiance conviviale et festive. Alexandre a fait preuve d'adaptabilité face à un public non-initié." <b>Aïcha, Directrice du centre social Le village (Bobigny)</b>
        </p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-2 order-sm-2 clippy _last" >
        <div class="text-center">
        <img src="boxe_centre_social.jpg" class="img-fluid entreprise">
        </div>
        </section>
      </div>
    </div>
  </div>
</body>
