<div class="section_home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Quand boxe française, fitness et bonne humeur s'entremêlent</h1>
      </div>

      <div class="col-md-6">
        
      </div>
    </div>
  </div>
</div>
