<div class="section_home">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 order-md-1 order-sm-1 mb-5">
        <h1>Quand boxe française, fitness et bonne humeur s'entremêlent</h1>
        <p class="mb-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
        </p>
        <a class="btn btn-pricing_1 btn-lg active" href="https://calendly.com/madboxing/" target="blank" type="button">Réservez un cours</a>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 order-md-2 order-sm-2">
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/HTYgFl8NuNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
