<div class="section_home">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 order-md-1 order-sm-1 mb-5">
        <h1 class="title_homepage">Quand boxe française, fitness et bonne humeur s'entremêlent</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
        </p>
        <!-- <a class="btn btn-pricing_1 btn-lg active mt-5" href="https://calendly.com/madboxing/" target="blank" type="button">Réservez un cours</a> -->
        <%#= link_to "Pour mon entreprise", entreprise_path, class: "btn btn-entreprise-home"%>
        <%= link_to "Réserver un cours privé", private_path, class: "btn btn-home", target:"blank"%>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 order-md-2 order-sm-2">
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/HTYgFl8NuNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
    </div>

  </div>
</div>
 <section slide>
   <div class="container">  
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="ASC-BNP.png" class="img-fluid">
        </div>
        <div class="slide">
          <img src="b9.jpg" class="img-fluid b9">
        </div>
        <div class="slide">
        <img src="csme.jpg" class="img-fluid csme">
        </div>
        <div class="slide">
        <img src="kabubu.png" class="img-fluid kabubu">
        </div>
        <div class="slide" style="margin-right: 60px !important;">
        <img src="colosport-logo.png" class="img-fluid colo">
        </div>
        <div class="slide">
          <%= image_tag "img/fityou", class: "img-fluid fityou"%>
        </div>
        <div class="slide">
          <img src="b9.jpg" class="img-fluid b9">
        </div>
        <div class="slide">
        <img src="CNOSF.svg.png" class="img-fluid cnosf">
        </div>
        <div class="slide">
        <img src="csme.jpg" class="img-fluid csme">
        </div>
        <div class="slide">
        <img src="kabubu.png" class="img-fluid kabubu">
        </div>
        <div class="slide" style="margin-right: 60px !important;">
        <img src="colosport-logo.png" class="img-fluid colo">
        </div>
        <div class="slide">
        <img src="logo-paris.png" class="img-fluid">
        </div>
        <div class="slide">
        <img src="aljt-logo.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- <div class="section_sponsor">
  <div class="container">
    <div class="row">
      <div class="col-lg-1 col-md-3 col-sm-12  col-xs-8.offset-xs-2 text-center mb-5">
        <img src="ASC-BNP.png" class="img-fluid">
      </div>

      <div class="col-lg-2 col-md-3 col-sm-12  col-xs-8.offset-xs-2 text-center mb-5">
        <img src="b9.jpg" class="img-fluid">
      </div>

      <div class="col-lg-1 col-md-3 col-sm-12 col-xs-8.offset-xs-2 text-center mb-5">
        <img src="csme.jpg" class="img-fluid">
      </div>

      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-8.offset-xs-2 text-center mb-5">
        <img src="kabubu.png" class="img-fluid">
      </div>

      <div class="col-lg-2 col-md-3 col-sm-12  col-xs-8.offset-xs-2 text-center mb-5">
        <img src="colosport-logo.png" class="img-fluid">
      </div>

      <div class="col-lg-2 col-md-3 col-sm-12  col-xs-8.offset-xs-2 text-center mb-5">
        <img src="CNOSF.svg.png" class="img-fluid">
      </div>

      <div class="col-lg-1 col-md-3 col-sm-12  col-xs-8.offset-xs-2 text-center mb-5">
        <img src="logo-paris.png" class="img-fluid">
      </div>

      <div class="col-lg-1 col-md-3 col-sm-12  col-xs-8.offset-xs-2 text-center mb-5">
        <img src="aljt-logo.png" class="img-fluid">
      </div>
    </div>
  </div>
</div> -->

<div class="aside-home">
  <hr>
  <div class="container">
    <div class="row">
      <h1 class="text-center mt-5 mb-5">CHOISISSEZ L'OFFRE QUI VOUS CONVIENT</h1>
      <div class="col-lg-4 offset-lg-2 col-md-6">
        <div class="card home">
          <div class="card-body">
            <h5 class="card-title text-center">PARTICULIERS</h5>
            <h5 class="aside-home text-center">Coaching privé</h5>
            <h5 class="aside-home text-center">Coaching en duo</h5>
            <div class="text-center">
              <%= link_to "En savoir plus", private_path, class: "btn btn-hp hp-btn"%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card home">
          <div class="card-body">
            <h5 class="card-title text-center">ENTREPRISES</h5>
            <h5 class="aside-home text-center">Atelier sport santé</h5>
            <h5 class="aside-home text-center">Cours collectifs</h5>
            <div class="text-center mt-3">
              <%= link_to "En savoir plus", entreprise_path, class: "btn btn-homepage homepage-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------------------->

<!--------------------------->

<div class="wall-love">
  <hr>
  <div class="container">
    <div class="row">
      <h1 class="text-center mt-5 mb-5">MERCI</h1>
      <div class="col-lg-6 col-md-12 mb-3">
        <div class="card-product">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
          <div class="card-product-infos">
            <h2>Maryse</h2>
            <p>
              Les coachings de MAD m'ont beaucoup apporté. Son approche, son écoute, sa bienveillance, sa pédagogie et sa joie de vivre font de ses cours des moments de bonheur.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 mb-3">
        <div class="card-product">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
          <div class="card-product-infos">
            <h2>Ilyes</h2>
            <p>J’ai eu la chance d’avoir comme coach le meilleur de tous, ses entraînements m’apportent beaucoup de joie, je me dépense tout en m’amusant...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-3">
        <div class="card-product">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
          <div class="card-product-infos">
            <h2>Marine </h2>
            <p>
              Alexandre sait trouver le parfait mix pour des coachings réussis : observation, pédagogie, écoute, exigence mais aussi bonne humeur, tout y est pour se sentir en confiance...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-3">
        <div class="card-product">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
          <div class="card-product-infos">
            <h2>Laura</h2>
            <p>Appréhender un sport de combat n’est pas chose aisée. Il faut donc trouver le bon coach qui va nous permettre de nous préparer  psychiquement (sans nous démotiver par un cadrage trop militaire ) et physiquement.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-3">
        <div class="card-product">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
          <div class="card-product-infos">
            <h2>Maryse</h2>
            <p>
              Les coachings de MAD m'ont beaucoup apporté. Son approche, son écoute, sa bienveillance, sa pédagogie et sa joie de vivre font de ses cours des moments de bonheur.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 mb-3">
        <div class="card-product">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
          <div class="card-product-infos">
            <h2>Ilyes</h2>
            <p>J’ai eu la chance d’avoir comme coach le meilleur de tous, ses entraînements m’apportent beaucoup de joie, je me dépense tout en m’amusant...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-3">
        <div class="card-product">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
          <div class="card-product-infos">
            <h2>Marine </h2>
            <p>
              Alexandre sait trouver le parfait mix pour des coachings réussis : observation, pédagogie, écoute, exigence mais aussi bonne humeur, tout y est pour se sentir en confiance...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-3">
        <div class="card-product">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
          <div class="card-product-infos">
            <h2>Laura</h2>
            <p>Appréhender un sport de combat n’est pas chose aisée. Il faut donc trouver le bon coach qui va nous permettre de nous préparer  psychiquement (sans nous démotiver par un cadrage trop militaire ) et physiquement.
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
