<section class="hero-section" id="section_1">
  <div class="section-overlay"></div>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-12 mb-5 text-center">
            <!-- <small>Cours de boxe française</small> -->
            <h1 class="text-white mb-5">Cours de boxe française éducative<br> avec une touche de fitness <br>et une grande dose de bonne humeur</h1>
            <!--<a class="btn custom-btn smoothscroll" href="#section_2">Let's begin</a>-->
            <a class="btn btn-primary btn-lg bottom" href="https://calendly.com/fr" target="blank">Je réserve mon prochain cours</a>
        </div>
        </div>
      </div>
  <div class="video-wrap">
    <video autoplay="true" loop="true" muted="muted" class="custom-video"data-turbolinks="false" >
      <source src="https://res.cloudinary.com/ddnko0wuk/video/upload/v1677411292/Girls_xdzr6u.mp4" type="video/mp4">
    </video>
  </div>        
</section>

<div class="section_card">
  <div class="container-fluid">
    <h1 class="text-center p-4">Mes cours</h1>
    <div class="row">
      <div class="col-md-4 mb-5">
        
      <%= link_to private_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(facetoface.jpg);">
        Coaching privé
        </div>
      <% end %>
      </div>
      <div class="col-md-4 mb-5">
      <%= link_to collectif_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(collectif_2.PNG)">
          Cours collectif
        </div>
      <% end %>
       </div>  
      <div class="col-md-4 mb-5">
      <%= link_to formation_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(stage_enfants.png)">
         Formation
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
<aside>
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-12">
    <iframe width="100%" height="600px" src="https://www.youtube.com/embed/5lH4hU0h2eQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen> 
    </iframe>    
      </div>
    </div>
  </div>
</aside>

<div class="container more">
  <div class="row">
      <h3 class="sub text-center">Les temoignages</h3>
    <div class="col-md-4 mb-5 text-center" data-controller="read-more">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Floriane</h5>
      <p class="my-content" data-read-more-target="shortText">
        <i class="fas fa-quote-left pe-2"></i>
        Je n'avais jamais enfilé de gants de boxe de ma vie, sans savoir véritablement en quoi consistait la boxe...
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <p class="my-content" data-read-more-target="longText">
        <i class="fas fa-quote-left pe-2"></i>
        Je n'avais jamais enfilé de gants de boxe de ma vie, sans savoir véritablement en quoi consistait la boxe. Mad a su s'adapter à moi à chacune de nos rencontres, à mes attentes, mes envies et ma progression tout au long de nos séances. Sa patience et sa bienveillance m'ont permis de progresser et de devenir encore plus motivée que jamais ! C'est plus qu'un cours mais un véritable échange entre un professeur et son élève
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <button class="text-yellow-600" type= "button" data-read-more-target="moreButton" data-action="read-more#showMore">
        Lire plus<i class='fas fa-arrow-down'style='font-size:18px;color:#A1E533;background-color: #000000;'></i>
      </button>
      <button class="text-yellow-600" data-read-more-target="lessButton" data-action="read-more#showLess">
        Lire moins<i class='fas fa-arrow-up' style='font-size:18px;color:#A1E533;background-color: #000000;'></i>

      </button> 
    </div>

    <div class="col-md-4 mb-5 text-center" data-controller="read-more">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Victor</h5>
      <p class="my-content" data-read-more-target="shortText">
        <i class="fas fa-quote-left pe-2"></i>Agé de plus de 50 ans et pratiquant régulier depuis l’âge de 17 ans...
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <p class="my-content" data-read-more-target="longText">
        <i class="fas fa-quote-left pe-2"></i>   Agé de plus de 50 ans et pratiquant régulier depuis l’âge de 17 ans Alexandre a su me motiver et me challenger pour ne pas rester sur mes acquis mais au contraire me pousser à remettre en cause ma pratique et renforcer mon cardio.
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <button class="text-yellow-600" type= "button" data-read-more-target="moreButton" data-action="read-more#showMore">
        Lire plus<i class='fas fa-arrow-down'style='font-size:18px;color:#A1E533;background-color: #000000;'></i>
      </button>
      <button class="text-yellow-600" data-read-more-target="lessButton" data-action="read-more#showLess">
        Lire moins<i class='fas fa-arrow-up' style='font-size:18px;color:#A1E533;background-color: #000000;'></i>
      </button>
    </div>

    <div class="col-md-4 mb-5 text-center" data-controller="read-more">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Ilyes</h5>
        <p class="my-content" data-read-more-target="shortText">
        J’ai eu la chance d’avoir comme coach le meilleur de tous, ses entraînements m’apportent beaucoup de joie...
      </p>
      <p class="my-content" data-read-more-target="longText">
        J’ai eu la chance d’avoir comme coach le meilleur de tous, ses entraînements m’apportent beaucoup de joie, je me dépense tout en m’amusant, je progresse au fur et à mesure de son accompagnement. J’y prends énormément de plaisir et je recommande à tous.
      </p>
      <button class="text-yellow-600" type= "button" data-read-more-target="moreButton" data-action="read-more#showMore">
        Lire plus<i class='fas fa-arrow-down'style='font-size:18px;color:#A1E533;background-color: #000000;'></i>
      </button>
      <button class="text-yellow-600" data-read-more-target="lessButton" data-action="read-more#showLess">
        Lire moins<i class='fas fa-arrow-up' style='font-size:18px;color:#A1E533;background-color: #000000;'></i>

      </button> 
    </div>
  </div>
</div>


<!-- <section class="mb-5 p-2">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">Temoignages</h3>
    </div>
  </div>
 <div class="row text-center">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Floriane</h5>
      <h6 class="text-primary mb-3">Web Developer</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Je n'avais jamais enfilé de gants de boxe de ma vie, sans savoir véritablement en quoi consistait la boxe. Mad a su s'adapter à moi à chacune de nos rencontres, à mes attentes, mes envies et ma progression tout au long de nos séances. Sa patience et sa bienveillance m'ont permis de progresser et de devenir encore plus motivée que jamais ! C'est plus qu'un cours mais un véritable échange entre un professeur et son élève"
        <i class="fas fa-quote-right pe-2"></i>
      </p>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Odile</h5>
      <h6 class="text-primary mb-3">Graphic Designer</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Je recherchais des séances de sport avec un coach pour me sentir plus en forme, me muscler tout en m’affinant. J’ai suivi 2 séances par semaine avec Alex.
        Alex est un coach bienveillant toujours à l'écoute de mes sensations et conscient de mes capacités physiques mais il sait me challenger pour m’aider à me dépasser.
        Après quelques mois, les résultats n'ont pas tardé à se faire sentir. Plus en forme, je suis très fière de moi et encore surprise d’arriver à enchaîner des jolies pompes en série. Moi qui ne réussissais à peine à enchaîner 5 pompes sur mes genoux au démarrage. Go go go. Alex est le coach qu’il vous faut !"
        <i class="fas fa-quote-right pe-2"></i>
      </p>
    </div>
    <div class="col-md-4 mb-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Ilyes</h5>
      <h6 class="text-primary mb-3">Marketing Specialist</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>J’ai eu la chance d’avoir comme coach le meilleur de tous, ses entraînements m’apportent beaucoup de joie, je me dépense tout en m’amusant, je progresse au fur et à mesure de son accompagnement. J’y prends énormément de plaisir et je recommande à tous !"
        <i class="fas fa-quote-right pe-2"></i>
      </p>
    </div>
  </div>
</section> -->


<script type="text/javascript">
  let questions = document.querySelectorAll(".question");
  questions.forEach(function (question) {
    let btn = question.querySelector(".question-btn");

    btn.addEventListener("click", function () {
      question.classList.toggle("show-text");
    });
  });
</script>
<script type="">
  var vid = document.getElementById("video1");
  vid.muted = true; 
</script>
