<article>
  <div class="container-720 text-center">
    <h1 class="title_pricing">Mentions légales</h1>
  </div>
</article>

<section class="conditions">
  <div class="container">
    <h4 class="sub_title">
      CONDITIONS D’UTILISATION
    </h4>
    <p>
    Veuillez lire attentivement les conditions d’utilisation avant de commencer à utiliser le site. En utilisant le site ou en cliquant sur accepter ou accepter les conditions d’utilisation lorsque cette option vous est mise à disposition, vous acceptez de respecter ces conditions d’utilisation et notre politique de confidentialité, incorporée ici par référence. Si vous ne voulez pas accepter ces conditions d’utilisation, y compris les accords incorporés par référence en l’espèce, vous ne devez pas accéder ou utiliser le site Web.

    </p>
</section>
