<article>
  <div class="container-720 text-center">
    <h1 class="title_pricing">Mentions légales</h1>
  </div>
</article>

<section class="conditions">
  <div class="container">
    <h4 class="sub_mentions">
      CONDITIONS D’UTILISATION
    </h4>
    <p>
    Veuillez lire attentivement les conditions d’utilisation avant de commencer à utiliser le site. En utilisant le site ou en cliquant sur accepter ou accepter les conditions d’utilisation lorsque cette option vous est mise à disposition, vous acceptez de respecter ces conditions d’utilisation et notre politique de confidentialité, incorporée ici par référence. Si vous ne voulez pas accepter ces conditions d’utilisation, y compris les accords incorporés par référence en l’espèce, vous ne devez pas accéder ou utiliser le site Web.

    </p>

    <h4 class="sub_title">
      PROPRIÉTÉ INTELLECTUELLE
    </h4>
    <p>
    La protection du site et des éléments le composant relève des législations nationales et internationales relatives au droit de la propriété intellectuelle. Dès lors, toute reproduction et/ou représentation et/ou rediffusion, en tout ou en partie, sur tout support électronique ou non, présent ou futur, sont interdites sauf autorisation expresse et préalable de l’entreprise individuelle Mademba EIRL. Toute personne contrevenant à cette interdiction, engage sa responsabilité pénale et civile et peut être poursuivie notamment sur le fondement de la contrefaçon. <br><br>

    Vous ne pouvez pas utiliser le site ou les ressources disponibles sur le site d’une manière qui constitue une violation de nos droits ou qui n’a pas été autorisée par nous. Plus précisément, vous ne pouvez pas modifier, copier, reproduire, republier, télécharger, publier, traduire, vendre, créer des œuvres dérivées, exploiter ou distribuer de quelque manière ou moyenne (y compris par courriel ou d’autres moyens électroniques) tout matériel du site sans autorisation préalable. Vous pouvez, cependant, télécharger, imprimer et/ou partager une copie de pages individuelles du site à des fins non commerciales, à condition que vous conserviez intacts tous les droits d’auteur et autres avis exclusifs.<br><br>
    De même les bases de données d’informations sont protégées au titre de la loi du 1er juillet 1998. Ainsi, toute extraction ou tentative d’extraction, fut-elle totale ou partielle, est susceptible d’engager les responsabilités civile et pénale de tout contrevenant.
    </p>

    <h4 class="sub_title">
      MENTIONS LÉGALES
    </h4>
    <p>
    Ce site est la propriété exclusive de l’entreprise individuelle Mademba EIRL<br><br>

    37, rue Veuve Lacroix – 92250 La Garenne Colombes<br>
    contact@beyondboxing.fr <br>
    Téléphone : 06 11 47 75 07<br>
    Siren : 803 639 459 R.C.S. Nanterre<br>
    N° TVA intracommunautaire : FR73803639459<br><br>
    Hébergé chez OVH <br>
    Siège social : 2 rue Kellermann – 59100 ROUBAIX<br>
    Responsable de la rédaction et de la publication :<br>
    Mademba-Alexandre Diop<br>
    Responsable de la réalisation du site : JR Kinouani<br>
  </p>

  <h4 class="sub_title">
    ACCÈS AU SITE
  </h4>
  <p>
    L’utilisateur du site internet <a href="https://www.beyondboxing.fr/" >www.beyondboxing.fr</a> reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site internet. Les utilisateurs du site web sont tenus de respecter les dispositions de la loi relative à l’informatique, aux fichiers et aux libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s’abstenir, s’agissant d’informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée et d’une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.<br><br>
    L’utilisateur garantit que son comportement sur le site et qu’aucun élément de son profil sur le site ne porte atteinte aux droits de tiers ni n’est contraire à la loi, à l’ordre public et aux bonnes mœurs.
  </p>

  <h4 class="sub_title">
    LIENS VERS D'AUTRES SITES
  </h4>
  <p>
    Le site peut inclure des liens vers d’autres sites ou d’autres sources Internet (sites, blogs, réseaux sociaux). Dans la mesure où l’entreprise individuelle Mademba EIRL ne peut contrôler ces sites et ces sources externes, elle ne peut être tenue pour responsable de la mise à disposition de ces sites et sources externes, et décline ainsi toute responsabilité quant aux contenus, publicités, produits, services ou tout autre matériel disponible sur ou à partir de ces sites ou sources externes.<br><br>

    Ces liens sont proposés aux utilisateurs du site<a href="https://www.beyondboxing.fr/" >www.beyondboxing.fr</a> afin de mettre en valeur les profils des clients et de créer des contacts et connexions. La décision d’activer les liens vous appartient exclusivement. Pour rappel, les sites non-affiliés sont soumis à leurs propres conditions d’utilisation.
  </p>

  <h4 class="sub_title">
    CONSENTEMENT
  </h4>

  <p>
    Lorsque vous visitez notre site web pour la première fois, nous vous montrerons une fenêtre contextuelle avec une explication sur les cookies. Dès que vous cliquez sur « Enregistrer les préférences » vous nous autorisez à utiliser les catégories de cookies et d’extensions que vous avez sélectionnées dans la fenêtre contextuelle, comme décrit dans la présente politique de cookies. Vous pouvez désactiver l’utilisation des cookies via votre navigateur, mais veuillez noter que notre site web pourrait ne plus fonctionner correctement.<br><br>
  </p>

  <h4 class="sub_title">
    COOKIES
  </h4>
  <p>
    Les cookies permettent notamment de réaliser un suivi de la fréquentation du site Internet. Vous pouvez modifier vos préférences en matière de cookies en paramétrant votre navigateur.<br><br>
    Lors de la navigation sur le site internet <a href="https://www.beyondboxing.fr/" >www.beyondboxing.fr</a>, des informations relatives à votre navigation peuvent être enregistrées dans votre terminal (ordinateur, tablette, smartphone …) au travers de fichiers appelés “Cookies”.
  </p>

  <h4 class="sub_title">
    TRAITEMENT DES DONNÉES PERSONNELLES
  </h4>
  <p>
    Vous disposez d’un droit d’accès et le cas échéant, de rectification et de suppression des données qui vous concernent. Vous bénéficiez également du droit de vous opposer à la collecte des données qui vous concernent.
    Conformément à l’article 32 de la loi du 7 octobre 2016, toute personne physique dispose également du droit de définir des directives relatives au sort de ses données à caractère personnel après sa mort.<br><br>

    Vous pouvez exercer chacun de ces droits en adressant votre demande, accompagnée d’une copie d’un document d’identité, à l’adresse du responsable du traitement. Conformément à votre droit à la portabilité, vos demandes régulières d’accès seront satisfaites par la remise d’une copie des informations vous concernant dans un format numérique standard. Vous pouvez formuler votre demande en vous adressant à :
    Mademba EIRL<br>
    37 rue Veuve Lacroix<br>
    92 250 La Garenne-Colombes<br>
    France

  </p>

  <h4 class="sub_title">
    DURÉE DE CONSERVATION
  </h4>
  <p>
    Les informations que vous transmettrez par le formulaire de contact ne sont destinées qu’à l’entreprise individuelle Mademba EIRL.
    Aucune des informations transmises via ce formulaire ne fera l’objet d’un transfert hors de l’Union Européenne. Si vous nous avez transmis vos informations exclusivement via ce formulaire, nous serons susceptibles de les conserver pendant un an au maximum après votre dernière utilisation du formulaire. A l’issue de cette période, vos informations seront supprimées de nos bases de données. Si vous nous avez transmis vos informations de plusieurs manières et/ou à plusieurs reprises, alors cette durée de conservation pourra être prolongée en conséquence.
  </p>

</section>
