<article>
  <div class="container-720 text-center">
    <h1 class="title_pricing">Mentions légales</h1>
  </div>
</article>

<section class="conditions">
  <div class="container">
    <h4 class="sub_title">
      CONDITIONS D’UTILISATION
    </h4>
    <p>
    Veuillez lire attentivement les conditions d’utilisation avant de commencer à utiliser le site. En utilisant le site ou en cliquant sur accepter ou accepter les conditions d’utilisation lorsque cette option vous est mise à disposition, vous acceptez de respecter ces conditions d’utilisation et notre politique de confidentialité, incorporée ici par référence. Si vous ne voulez pas accepter ces conditions d’utilisation, y compris les accords incorporés par référence en l’espèce, vous ne devez pas accéder ou utiliser le site Web.

    </p>

    <h4 class="sub_title">
      PROPRIÉTÉ INTELLECTUELLE
    </h4>
    <p>
    La protection du site et des éléments le composant relève des législations nationales et internationales relatives au droit de la propriété intellectuelle. Dès lors, toute reproduction et/ou représentation et/ou rediffusion, en tout ou en partie, sur tout support électronique ou non, présent ou futur, sont interdites sauf autorisation expresse et préalable de l’entreprise individuelle Mademba EIRL. Toute personne contrevenant à cette interdiction, engage sa responsabilité pénale et civile et peut être poursuivie notamment sur le fondement de la contrefaçon. <br><br>

    Vous ne pouvez pas utiliser le site ou les ressources disponibles sur le site d’une manière qui constitue une violation de nos droits ou qui n’a pas été autorisée par nous. Plus précisément, vous ne pouvez pas modifier, copier, reproduire, republier, télécharger, publier, traduire, vendre, créer des œuvres dérivées, exploiter ou distribuer de quelque manière ou moyenne (y compris par courriel ou d’autres moyens électroniques) tout matériel du site sans autorisation préalable. Vous pouvez, cependant, télécharger, imprimer et/ou partager une copie de pages individuelles du site à des fins non commerciales, à condition que vous conserviez intacts tous les droits d’auteur et autres avis exclusifs.<br><br>
    De même les bases de données d’informations sont protégées au titre de la loi du 1er juillet 1998. Ainsi, toute extraction ou tentative d’extraction, fut-elle totale ou partielle, est susceptible d’engager les responsabilités civile et pénale de tout contrevenant.
    </p>
</section>
