<div class="section_merci">
  <div class="container">
  	<div class="text-center">
  		<h2 class="title_pricing">L'ESPACE DES MERCIS</h2>
  		<!-- <button type="button" class="btn btn-outline-secondary disabled" aria-disabled="true">L'ESPACE DES MERCIS</button> -->
  	</div>
  	<p class="text-center merci">
  		Parce que sans lui, rien ne serait possible: l'amour
  		<br>
  		L'amour de la boxe, l'amour du partage, l'mour des gens et des contacts humains, l'amour d'apprendre et de transmettre, l'amour donné, l'amour reçu.
  	</p>
		<div class="gallery">
	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
	          class="rounded-circle shadow-1-strong" />
	      </div>
	      <h1 class="text-center">Floriane</h1>
	      <h6 class="text-center">Cheffe à domicile</h6>
	      <p>"Je n'avais jamais enfilé de gants de boxe de ma vie, sans savoir véritablement en quoi consistait la boxe. Mad a su s'adapter à moi à chacune de nos rencontres, à mes attentes, mes envies et ma progression tout au long de nos séances. Sa patience et sa bienveillance m'ont permis de progresser et de devenir encore plus motivée que jamais ! C'est plus qu'un cours mais un véritable échange entre un professeur et son élève"</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
	          class="rounded-circle shadow-1-strong" />
	      </div>
	      <h1 class="text-center">Odile</h1>
	      <h6 class="text-center">Manageur Digitale</h6>
	      <p>"Je recherchais des séances de sport avec un coach pour me sentir plus en forme, me muscler tout en m’affinant. J’ai suivi 2 séances par semaine avec Alex.
				Alex est un coach bienveillant toujours à l'écoute de mes sensations et conscient de mes capacités physiques mais il sait me challenger pour m’aider à me dépasser.
				Après quelques mois, les résultats n'ont pas tardé à se faire sentir. Plus en forme, je suis très fière de moi et encore surprise d’arriver à enchaîner des jolies pompes en série. Moi qui ne réussissais à peine à enchaîner 5 pompes sur mes genoux au démarrage. Go go go. Alex est le coach qu’il vous faut !"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
	          class="rounded-circle shadow-1-strong" />
	      </div>
	      <h1 class="text-center">Haoua</h1>
	      <h6 class="text-center">Masseur-kinésithérapeute</h6>
	      <p>"Ayant fait plusieurs séances avec Alex, il a su s’adapter à mon profil et mes objectifs de compétition, en me poussant dans mes retranchements. Pédagogie et rigueur… Mais  toujours avec bienveillance!"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp"
	          class="rounded-circle shadow-1-strong" />
	      </div>
	      <h1 class="text-center">Ilyes</h1>
	      <h6 class="text-center">Agent d'accueil polyvalent</h6>
	      <p>"J’ai eu la chance d’avoir comme coach le meilleur de tous, ses entraînements m’apportent beaucoup de joie, je me dépense tout en m’amusant, je progresse au fur et à mesure de son accompagnement. J’y prends énormément de plaisir et je recommande à tous !"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(14).webp"
	          class="rounded-circle shadow-1-strong" />
	      </div>
	      <h1 class="text-center">Marine</h1>
	      <h6 class="text-center">Chef de projet com et<br>marketing digital</h6>
	      <p>"Alexandre sait trouver le parfait mix pour des coachings réussis : observation, pédagogie, écoute, exigence mais aussi bonne humeur, tout y est pour se sentir en confiance et progresser efficacement. Merci !"
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
	          class="rounded-circle shadow-1-strong" />
	      </div>
	      <h1 class="text-center">Maryse</h1>
	      <h6 class="text-center">Educatrice</h6>
	      <p>"Les coachings de MAD m'ont beaucoup apporté. Son approche, son écoute, sa bienveillance, sa pédagogie et sa joie de vivre font de ses cours des moments de bonheur"
				</p>
	    </figure>
	  </div>
	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp"
	          class="rounded-circle shadow-1-strong" />
	      </div>
	      <h1 class="text-center">Laura</h1>
	      <h6 class="text-center">Responsable d'agence bancaire</h6>
	      <p>"Appréhender un sport de combat n’est pas chose aisée. Il faut donc trouver le bon coach qui va nous permettre de nous préparer  psychiquement (sans nous démotiver par un cadrage trop militaire ) et physiquement. Alexandre applique une méthode des plus efficaces. En effet, après un échange sur vos motivations, votre besoin en termes d’intensité des séances, votre souhait sur les zones du corps à travailler…,Alexandre crée un programme d’exercices personnalisés ambitieux mais atteignables. Soyez prêts à aller chercher vos limites car Alexandre ne vous laissera pas vous reposer sur vos lauriers mais tout cela avec une grande bienveillance. Si vous souhaitez améliorer votre cardio, votre tonicité, développer votre agilité, votre coordination  et retrouver une hygiène de vie saine; ne cherchez pas plus loin car Alexandre est le coach qu’il vous faut."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(13).webp"
	          class="rounded-circle shadow-1-strong" />
	      </div>
	      <h1 class="text-center">Gregory</h1>
	      <h6 class="text-center">Sales Manager</h6>
	      <p>"Motivation et inspiration sont les maîtres mots d'un cours avec Mad ! Mixant l'apprentissage théorique de la boxe française ainsi que le renforcement musculaire, Mad sait trouver les mots pour apprendre à se dépasser pour, au final, un bien être physique et mental."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	    	<div class="d-flex justify-content-center mb-4">
	        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
	          class="rounded-circle shadow-1-strong" />
	      </div>
	      <h1 class="text-center">Victor</h1>
	      <h6 class="text-center">Chargé de portefeuille immobilier</h6>
	      <p>"Agé de plus de 50 ans et pratiquant régulier depuis l’âge de 17 ans Alexandre a su me motiver et me challenger pour ne pas rester sur mes acquis mais au contraire me pousser à remettre en cause ma pratique et renforcer mon cardio."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	      <h1 class="text-center">Florent</h1>
	      <h6 class="text-center">Project Manager</h6>
	      <p>"Bien qu’ayant une vision sur un programme annuel, Alexandre n’hésite pas à ajuster ou à modifier le programme du jour, pour s’adapter au niveau technique et à la condition physique des boxeurs présents à la séance.Le groupe progresse continuellement sans jamais pour autant se mettre en danger."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	      <h1 class="text-center">Martin</h1>
	      <h6 class="text-center">Metteur en scène</h6>
	      <p>"Alexandre est un professeur à l’écoute. Il arrive à mêler l’intelligence à la discipline de la boxe en nous faisant prendre conscience de ce qui nous entoure pour que l’on puisse comprendre ce qu’il se passe sur un ring. Il travaille beaucoup le cardio, pour que l’on puisse travailler nos mouvements dans la fatigue, afin d’être au plus juste dans les coups portés. Il n’y a pas cette notion de « violence » dans la boxe que l’on travaille avec lui, mais bel et bien la notion de maîtrise, qui nous permet de performer lorsque le gong retentit. Il est motivant, empathique et arrive à répondre aux attentes du jeune boxeur débutant que je suis
				Stage : Alexandre est un professeur à l’écoute des enfants. Son expérience lui permet de pouvoir répondre aux besoins des mineurs, peu importe l’âge de ces derniers. Tous les enfants avaient le sourire et l’envie de découvrir la boxe avec lui."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	      <h1 class="text-center">Benjamin</h1>
	      <h6 class="text-center">Directeur de centre</h6>
	      <p>"Alexandre est un professeur à l’écoute des enfants. Son expérience lui permet de pouvoir répondre aux besoins des mineurs, peu importe l’âge de ces derniers. Tous les enfants avaient le sourire et l’envie de découvrir la boxe avec lui."
				</p>
	    </figure>
	  </div>

	  <div class="gallery-item">
	    <figure>
	      <h1 class="text-center">Eliana</h1>
	      <h6 class="text-center">Docteure en physique</h6>
	      <p>"Très bonne pédagogie, un coach qui sait s’adapter aux profils des pratiquants pour dispenser enseignements et coachings de qualité. Je recommande vivement."
				</p>
	    </figure>
	  </div>
		</div>
  </div>
</div>
