<div class="container mb-5">
  <h1 class="text-center title_private">Cours privé</h1>
  <div class="row featurette mb-5">
    <div class="col-md-5 order-md-1">
<!--       <%#= cl_video_tag("Girls_xdzr6u", :height=>300, :width=>250, :crop=>"fill",:controls => true) %> -->

      <img class="img-fluid"  src="coaching_privee_ext.jpg" alt="..." width="100%" height="100% !important" >
    </div>
    <div class="col-md-7 order-md-2 mt-5">
      <h2 class="text-center featurette-heading fw-normal lh-1"><span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
  </div>
</div>

<div class="section_card mt-5">
  <div class="container-fluid">
    <div class="cards private">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(facetoface.jpg);">
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(1_contre_1_ext.jpg)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(1_contre_1_int.jpg)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(facetoface_1.jpg)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(Madflow.PNG)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(1_contre_1.jpg)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(Greg.PNG)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(G5.jpg)">
        </div>
    </div>
  </div>
</div>

<section class="mb-5 p-2">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">Temoignages</h3>
    </div>
  </div>
  <div class="row text-center">
          
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Odile</h5>
      <div class="question">
        <div class="question-title">
        Je recherchais des séances de sport avec un coach pour me sentir plus en forme, me muscler tout en m’affinant. J’ai suivi 2 séances par semaine avec Alex.
        Alex est un coach bienveillant toujours à l'écoute de mes sensations et conscient de mes capacités physiques mais il sait me challenger pour m’aider à me dépasser.
        </div>
        <button type="button" class="question-btn">
          <span class="plus-icon">
            <h5>voir plus </h5>
          </span>
          <span class="minus-icon">
             <i class="fa-solid fa-minus"></i>
          </span>
        </button>
        <div class="question-text">
          <p>
           Après quelques mois, les résultats n'ont pas tardé à se faire sentir. Plus en forme, je suis très fière de moi et encore surprise d’arriver à enchaîner des jolies pompes en série. Moi qui ne réussissais à peine à enchaîner 5 pompes sur mes genoux au démarrage. Go go go. Alex est le coach qu’il vous faut !"
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Odile</h5>
      <div class="question">
        <div class="question-title">
        Je recherchais des séances de sport avec un coach pour me sentir plus en forme, me muscler tout en m’affinant. J’ai suivi 2 séances par semaine avec Alex.
        Alex est un coach bienveillant toujours à l'écoute de mes sensations et conscient de mes capacités physiques mais il sait me challenger pour m’aider à me dépasser.
        </div>
        <button type="button" class="question-btn">
          <span class="plus-icon">
            <h5>voir plus </h5>
          </span>
          <span class="minus-icon">
             <i class="fa-solid fa-minus"></i>
          </span>
        </button>
        <div class="question-text">
          <p>
           Après quelques mois, les résultats n'ont pas tardé à se faire sentir. Plus en forme, je suis très fière de moi et encore surprise d’arriver à enchaîner des jolies pompes en série. Moi qui ne réussissais à peine à enchaîner 5 pompes sur mes genoux au démarrage. Go go go. Alex est le coach qu’il vous faut !"
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Odile</h5>
      <div class="question">
        <div class="question-title">
        Je recherchais des séances de sport avec un coach pour me sentir plus en forme, me muscler tout en m’affinant. J’ai suivi 2 séances par semaine avec Alex.
        Alex est un coach bienveillant toujours à l'écoute de mes sensations et conscient de mes capacités physiques mais il sait me challenger pour m’aider à me dépasser.
        </div>
        <button type="button" class="question-btn">
          <span class="plus-icon">
            <h5>voir plus </h5>
          </span>
          <span class="minus-icon">
             <i class="fa-solid fa-minus"></i>
          </span>
        </button>
        <div class="question-text">
          <p>
           Après quelques mois, les résultats n'ont pas tardé à se faire sentir. Plus en forme, je suis très fière de moi et encore surprise d’arriver à enchaîner des jolies pompes en série. Moi qui ne réussissais à peine à enchaîner 5 pompes sur mes genoux au démarrage. Go go go. Alex est le coach qu’il vous faut !"
          </p>
        </div>
      </div>
    </div>

  </div>
      <div class="text-center">
        <a class="btn btn-primary btn-lg" href="https://calendly.com/fr" target="blank" type="button">Réservez un cours sur mesure</a>
      </div>
</section>

<div class="container-fluid">
  <h5 class="text-center text_map">Nous sommes situé au :</h5>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.448455348575!2d2.244297115727947!3d48.9068475792923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665bcbbe7a667%3A0xc5a3929d4b80b119!2sMairie%20de%20La%20Garenne-Colombes!5e0!3m2!1sfr!2sfr!4v1676627177887!5m2!1sfr!2sfr" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!--<div class="container mb-5">
  <div class="row">
    <h1 class="text-center title_private">Cours privée</h1>
    <div class="col-md-10 offset-md-1">
      <div class="card-trip">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://plus.unsplash.com/premium_photo-1663013066703-d00f8538b642?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://images.unsplash.com/photo-1623874514711-0f321325f318?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODh8fHNhbGxlJTIwZGUlMjBib3hlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1600&q=60" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <i class="fa-solid fa-chevron-right"></i>
            <!--span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <i class="fa-solid fa-chevron-right"></i>
            <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        
        <div class="d-grid gap-2">
          <a class="btn btn-primary" href="https://calendly.com/fr" target="blank" type="button">Réservez un créneau</a>
        </div>
        <div class="card-trip-infos">
          <div>
            <h2>Preminum</h2>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item">A list item</li>
              <li class="list-group-item">A list item</li>
              <li class="list-group-item">A list item</li>
            </ol>
          </div>
          <h2 class="card-trip-pricing">20€/séance</h2>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#exampleModal">
            Voir la salle sur la carte
        </button>
        <!-- Modal
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.448455348575!2d2.244297115727947!3d48.9068475792923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665bcbbe7a667%3A0xc5a3929d4b80b119!2sMairie%20de%20La%20Garenne-Colombes!5e0!3m2!1sfr!2sfr!4v1676627177887!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<script type="text/javascript">
  const questions = document.querySelectorAll(".question");

  questions.forEach(function (question) {
    const btn = question.querySelector(".question-btn");

    btn.addEventListener("click", function () {
      question.classList.toggle("show-text");
    });
  });

</script>