<div class="container title">
  <div class="row">
      <h2 class="title_pricing text-center">
        TROIS ACCOMPAGNEMENTS <br>POUR UNE ATTENTION
        DE CHAQUE INSTANT
      </h2>
  </div>
</div>

<div class="section_private">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12" id="content_private">
        <h2 class="text-center">
          Un cours sur mesure pour une attention dédiée
        </h2>
        <h5 class="text-center">
        #pédagogiepersonnalisée #flexibilité #progrès
        </h5>

        <div class="card-product-private">
          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" /> -->
          <div class="card-product-infos">
            <h6 class="name">MARINE</h6>
            <p>"Alexandre sait trouver le parfait mix pour des coachings réussis : observation, pédagogie, écoute, exigence mais aussi bonne humeur, tout y est pour se sentir en confiance et progresser efficacement. Merci !"
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12" id="two_col">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/VK7dhlkRD70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="text-center">
          <%= link_to "Réserver un cours privé", calendly_privee_path, class: "btn btn-home mb-2", target:"blank"%>
        </div>

        <div class="text-center">
          <!-- Button trigger modal -->
          <a class="modal.mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="cursor: pointer;color:#19A7CE;">
            Voir le lieu du cours
          </a>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.4158334965214!2d2.235931715676119!3d48.90746917929234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665ad6cd13caf%3A0x70047366a95632fe!2s89%20Bd%20national%2C%2092250%20La%20Garenne-Colombes!5e0!3m2!1sfr!2sfr!4v1677958598383!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section_private_1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12" id="content_private duo" style="margin-top:-14px">
        <h2 class="text-center">
          Un cours en binôme pour progresser ensemble en toute tranquilité
        </h2>
        <h5 class="text-center">
        #intimité #personnalisation #progrès
        </h5>

        <div class="card-product-private">
          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp"
            class="rounded-circle shadow-1-strong" width="100" height="100" /> -->
          <div class="card-product-infos">
            <h6 class="name">GREGORY</h6>
            <p>"Motivation et inspiration sont les maîtres mots d'un cours avec Mad ! Mixant l'apprentissage théorique de la boxe française ainsi que le renforcement musculaire, Mad sait trouver les mots pour apprendre à se dépasser."
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12" style="margin-bottom: 14px;">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/VvKTB6YVkLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

        </iframe>
        <!-- <img src="Pourpageprivée_duo.png" class="img-fluid duo"> -->
        <div class="text-center">
          <%= link_to "Réserver un cours en duo", calendly_privee_path, class: "btn btn-home mb-2", target:"blank"%>
        </div>
        <!--btn modal-->
        <div class="text-center mt-2">
          <a class="modal.mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal3" style="cursor: pointer;color:#19A7CE;">
            Voir le lieu n°1 du cours
          </a>

          <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.5906530409407!2d2.25624!3d48.9231908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665c1640a57e5%3A0x5ef751699d63f026!2s71%20Rue%20du%20Bournard%2C%2092700%20Colombes!5e0!3m2!1sfr!2sfr!4v1680800062623!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                  </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center" id="two_link">
          <a class="modal.mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="cursor: pointer;color:#19A7CE;">
            Voir le lieu n°2 du cours
          </a>

          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.4158334965214!2d2.235931715676119!3d48.90746917929234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665ad6cd13caf%3A0x70047366a95632fe!2s89%20Bd%20national%2C%2092250%20La%20Garenne-Colombes!5e0!3m2!1sfr!2sfr!4v1677958598383!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end btn modal-->
      </div>
    </div>
  </div>
</div>

<div class="section_private duo">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12" id="content_private">
        <h2 class="text-center">
          Stages en comité restreint <br>pour un suivi optimal
        </h2>
        <h5 class="text-center">
        #convivialité #émulation #progrès
        </h5>

        <div class="card-product-private">
          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(13).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" /> -->
          <div class="card-product-infos">
            <h6 class="name">LUCIE</h6>
            <p>
            "J'ai adoré découvrir la boxe française avec Alexandre ! Quand on pense à un sport de contact aussi physique, de prime abord ça peut intimider, surtout quand notre cardio n'est pas très bon :) Mais Alexandre  nous rend ce sport très accessible et nous pousse à nous dépasser sans qu'on s'en rende compte tellement on s'amuse !"
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12" id="last_col">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/PDV2phSTwns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
        <div class="text-center">
          <%= link_to "Bientôt en ligne", "#", class: "btn btn-home mb-2", target:"blank"%>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
