<div class="container mb-5">
  <h1 class="text-center title_private">Cours privé</h1>
  <div class="row featurette mb-5">
    <div class="col-md-5 order-md-1">
<!--       <%#= cl_video_tag("Girls_xdzr6u", :height=>300, :width=>250, :crop=>"fill",:controls => true) %> -->

      <img class="img-fluid"  src="coaching_privee_ext.jpg" alt="..." width="100%" height="100% !important" >
    </div>
    <div class="col-md-7 order-md-2 mt-5">
      <h2 class="text-center featurette-heading fw-normal lh-1"><span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
  </div>
</div>

<div class="section_card mt-5">
  <div class="container-fluid">
    <div class="cards private">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(facetoface.jpg);">
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(1_contre_1_ext.jpg)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(1_contre_1_int.jpg)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(facetoface_1.jpg)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(Madflow.PNG)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(1_contre_1.jpg)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(Greg.PNG)">
          
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(G5.jpg)">
        </div>
    </div>
  </div>
</div>

<div class="container more">
  <div class="row">
      <h3 class="sub text-center">Les temoignages</h3>
    <div class="col-md-4 mb-5 text-center" data-controller="read-more">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Floriane</h5>
      <p class="my-content" data-read-more-target="shortText">
        <i class="fas fa-quote-left pe-2"></i>
        Je n'avais jamais enfilé de gants de boxe de ma vie, sans savoir véritablement en quoi consistait la boxe...
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <p class="my-content" data-read-more-target="longText">
        <i class="fas fa-quote-left pe-2"></i>
        Je n'avais jamais enfilé de gants de boxe de ma vie, sans savoir véritablement en quoi consistait la boxe. Mad a su s'adapter à moi à chacune de nos rencontres, à mes attentes, mes envies et ma progression tout au long de nos séances. Sa patience et sa bienveillance m'ont permis de progresser et de devenir encore plus motivée que jamais ! C'est plus qu'un cours mais un véritable échange entre un professeur et son élève
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <button class="text-yellow-600" type= "button" data-read-more-target="moreButton" data-action="read-more#showMore">
        Lire plus<i class='fas fa-arrow-down'style='font-size:18px;color:#A1E533;background-color: #000000;'></i>
      </button>
      <button class="text-yellow-600" data-read-more-target="lessButton" data-action="read-more#showLess">
        Lire moins<i class='fas fa-arrow-up' style='font-size:18px;color:#A1E533;background-color: #000000;'></i>

      </button> 
    </div>

    <div class="col-md-4 mb-5 text-center" data-controller="read-more">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Victor</h5>
      <p class="my-content" data-read-more-target="shortText">
        <i class="fas fa-quote-left pe-2"></i>Agé de plus de 50 ans et pratiquant régulier depuis l’âge de 17 ans...
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <p class="my-content" data-read-more-target="longText">
        <i class="fas fa-quote-left pe-2"></i>   Agé de plus de 50 ans et pratiquant régulier depuis l’âge de 17 ans Alexandre a su me motiver et me challenger pour ne pas rester sur mes acquis mais au contraire me pousser à remettre en cause ma pratique et renforcer mon cardio.
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <button class="text-yellow-600" type= "button" data-read-more-target="moreButton" data-action="read-more#showMore">
        Lire plus<i class='fas fa-arrow-down'style='font-size:18px;color:#A1E533;background-color: #000000;'></i>
      </button>
      <button class="text-yellow-600" data-read-more-target="lessButton" data-action="read-more#showLess">
        Lire moins<i class='fas fa-arrow-up' style='font-size:18px;color:#A1E533;background-color: #000000;'></i>
      </button>
    </div>

    <div class="col-md-4 mb-5 text-center" data-controller="read-more">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Ilyes</h5>
        <p class="my-content" data-read-more-target="shortText">
        J’ai eu la chance d’avoir comme coach le meilleur de tous, ses entraînements m’apportent beaucoup de joie...
      </p>
      <p class="my-content" data-read-more-target="longText">
        J’ai eu la chance d’avoir comme coach le meilleur de tous, ses entraînements m’apportent beaucoup de joie, je me dépense tout en m’amusant, je progresse au fur et à mesure de son accompagnement. J’y prends énormément de plaisir et je recommande à tous.
      </p>
      <button class="text-yellow-600" type= "button" data-read-more-target="moreButton" data-action="read-more#showMore">
        Lire plus<i class='fas fa-arrow-down'style='font-size:18px;color:#A1E533;background-color: #000000;'></i>
      </button>
      <button class="text-yellow-600" data-read-more-target="lessButton" data-action="read-more#showLess">
        Lire moins<i class='fas fa-arrow-up' style='font-size:18px;color:#A1E533;background-color: #000000;'></i>

      </button> 
    </div>
    <div class="text-center mt-5">
      <a class="btn btn-primary btn-lg" href="https://calendly.com/fr" target="blank" type="button">Réservez un cours sur mesure</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h5 class="text-center text_map">Nous sommes situé au :</h5>
  <div class="row">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.4158334965214!2d2.235931715676119!3d48.90746917929234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665ad6cd13caf%3A0x70047366a95632fe!2s89%20Bd%20national%2C%2092250%20La%20Garenne-Colombes!5e0!3m2!1sfr!2sfr!4v1677958598383!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.5906541278664!2d2.254051315676697!3d48.92319077929399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665c1640a57e5%3A0x5ef751699d63f026!2s71%20Rue%20du%20Bournard%2C%2092700%20Colombes!5e0!3m2!1sfr!2sfr!4v1677958774033!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

<script type="text/javascript">
  let questions = document.querySelectorAll(".question");

  questions.forEach(function (question) {
    let btn = question.querySelector(".question-btn");

    btn.addEventListener("click", function () {
      question.classList.toggle("show-text");
    });
  });

</script>