<body class="pricing">
  <section id="pricing" class="pricing-content section-padding">
    <div class="container">         
      <div class="section-title text-center">
        <h2 class="title_pricing">Des tarifs transparents. Pour tous.</h2>
        <p>
          Envie d'un accompagnement spécifique ? <br>
          De partager votre cours avec un(e), des amis, en couple,en famille, <br> avec des collègues ? Faire la connaissance d'autres personnes dans une salle cosy, dans votre structure au lieu de travail ?
        </p>
      </div>          
      <div class="row text-center">                 
        <div class="col-lg-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
          <div class="single-pricing">
            <div class="price-head">                
              <h2 class="pricing_1">Cours sur mesure</h2>
            </div>
            <h1 class="price">80 €</h1>
            <!-- <h5>Monthly</h5> -->
            <ul>
              <li>Cours de boxe</li>
              <li>française sur</li>
              <li>mesure d'une</li>
              <li>heure</li>
              <li>En salle privée</li>
            </ul>
            <a href="#" class="btn btn-pricing btn-lg active" role="button" aria-pressed="true">Réserver un cours privé</a>
          </div>
        </div><!--- END COL --> 
        <div class="col-lg-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
          <div class="single-pricing">
            <div class="price-head">                
              <h2 class="pricing_2">Cours en duo</h2>
            </div>
            <h1 class="price">70 €</h1>
            <!-- <h5>Monthly</h5> -->
            <ul>
              <li>10 website</li>
              <li>50GB Disk Space</li>
              <li>50 Email Accounts</li>
              <li>50GB Monthly Bandwidth</li>
              <li>10 Subdomains</li>
            </ul>
            <a href="#" class="btn btn-pricing_1 btn-lg active" role="button" aria-pressed="true">Réserver un cours à 2</a>
          </div>
        </div><!--- END COL --> 
        <div class="col-lg-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
          <div class="single-pricing">
            <div class="price-head">                
              <h2 class="pricing_3">Cours en petits groupe</h2>
            </div>
            <h1 class="price">25€/pers</h1>
            <!-- <h5>Monthly</h5> -->
            <ul>
              <li>10 website</li>
              <li>50GB Disk Space</li>
              <li>50 Email Accounts</li>
              <li>50GB Monthly Bandwidth</li>
              <li>10 Subdomains</li>
            </ul>
            <a href="#" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Primary link</a>
          </div>
        </div><!--- END COL -->
        <div class="col-lg-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
          <div class="single-pricing">
            <div class="price-head">                
              <h2 class="pricing_4">Entreprise</h2>
            </div>
            <h1 class="price">Sur devis</h1>
            <!-- <h5>Monthly</h5> -->
            <ul>
              <li>Stage d'initiation</li>
              <li>Ateliers sport santé</li>
              <li>Cours collectifs</li>
              <li><b>Sur site</b></li><br>
            </ul>
            <a href="#" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Primary link</a>
          </div>
        </div><!--- END COL --> 
        <!--<div class="col-lg-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
          <div class="single-pricing single-pricing-white">
            <div class="price-head">                
              <h2>Formation</h2>
            </div>
            <span class="price-label">Best</span>
            <h5 class="price">Prix sur devis</h5>
            <!-- <h5>Monthly</h5>
            <ul>
              <li>15 website</li>
              <li>50GB Disk Space</li>
              <li>50 Email Accounts</li>
              <li>50GB Monthly Bandwidth</li>
              <li>10 Subdomains</li>
              <li>15 Domains</li>
              <li>Unlimited Support</li>
            </ul>
            <a href="#">Choisir ce forfait</a>
          </div>
        </div><!--- END COL -->       
      </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
  </section>
</body>
