<body class="pricing">
  <section id="pricing" class="pricing-content section-padding">
    <div class="container">         
      <div class="section-title text-center mb-5">
        <h2 class="title_pricing">
          UN ACCOMPAGNEMENT SUR MESURE <br> AU SERVICE DE VOTRE BIEN-ETRE
        </h2>
        <p>
          Besoin d'un accompagnement spécifique ?<br>
          Envie de partager votre cours en binôme ou de faire la connaissance et de progresser entouré(e)<br>d'autres personnes dans une salle cosy ?
        </p>
      </div>          
      <div class="row text-center">                 
        <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp mb-4" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
          <div class="single-pricing">
            <div class="price-head">                
              <h2 class="pricing">Particuliers</h2>
            </div>
            <h1 class="price">80 €</h1>
            <!-- <h5>Monthly</h5> -->
            <ul>
              <li>Cours de boxe française sur</li>
              <li>mesure d'une heure</li>
              <li>2 personnes max</li>
              <li><b>En salle privée</b></li>
            </ul>
            <a href="https://calendly.com/madboxing/coaching-prive?month=2023-03" class="btn btn-pricing_tarif btn-lg active" role="button" aria-pressed="true">Réserver un cours privé</a>
          </div>
        </div><!--- END COL --> 
        
        <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp mb-4" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
          <div class="single-pricing">
            <div class="price-head">                
              <h2 class="pricing">Stages</h2>
            </div>
            <!-- <h1 class="price">25€/pers</h1> -->
            <!-- <h5>Monthly</h5> -->
            <ul>
              <li>Stage</li>
              <li>d'initiation de</li>
              <li>boxe française</li>
              <li><b>En salle privée</b></li>
            </ul>
            <a href="#" class="btn btn-pricing_stage btn-lg active" role="button" aria-pressed="true">Bientôt en ligne</a>
          </div>
        </div><!--- END COL -->
        <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp mb-4" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
          <div class="single-pricing pb-4">
            <div class="price-head">                
              <h2 class="pricing">Entreprise</h2>
            </div>
            <h1 class="price">Sur devis</h1>
            <!-- <h5>Monthly</h5> -->
            <ul>
              <li>Ateliers sport santé</li>
              <li>Cours collectifs</li>
              <li><b>Sur site</b></li>
            </ul>
            <br>
            <a href="https://www.beyondboxing.fr/contacts/new" class="btn btn-biz biz-btn" role="button" aria-pressed="true">Contacter l'équipe</a>
          </div>
        </div><!--- END COL --> 
      </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
  </section>
</body>
