<section class="contact_thank">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h1 class="text-center">
					Merci pour votre message<br>
				</h1>
				<div class="text-center">
					<img src="sent.png" class="img-fluid">
					<h5>Nous allons vous répondre dans les plus brefs délais</h5>
				</div>
				<div class="text-center">
					<a class="btn btn-warning" href="https://www.beyondboxing.fr/" type="button">Retour à la page d'accueil</a>
				</div>
			</div>
		</div>
	</div>
</section>
