<div class="container" style="margin-top:200px; background-color: white;">
	<div class="row" style="margin-top:200px; background-color: white;">
		<div class="col-md-6 offset-md-3">
			<h1>Merci pour ce mail</h1>
		</div>
	</div>
</div>
