<div class="container">
	<div class="row" style="margin-top:200px;">
		<div class="col-md-6 offset-md-3" style="margin-top:200px; background-color: white;margin-bottom: 200px;">
			<h1 class="text-center">	<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/></h1>
			<h1>Merci pour ce mail</h1>
			<p>Nous allons vous répondre dans les plus brefs délai.</p>
		</div>
	</div>
</div>
