.section_contact
{
  background-color: #d9d9d9;
  padding-bottom: 3rem;
}
h1.page_title
{
  margin-top: 120px;
  font-size: 50px;
  color: #FF6000;
}
#contact_content
{
  margin-top: 150px;
  padding-left: 40px;
}
.section_contact p
{
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
}
img.img-tag-contact
{
  padding-top: 20px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #000;
}
.label
{
  color: #000;	
}
/*p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
	color: #FFF;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}*/

#contact
{
  background:#333333;
  color:#f4f4f4;
  padding-bottom:80px;
}

textarea.form-control
{
  height:250px;
}
.btn.btn-contact
{
  border-radius: 10px;
  font-size: 23px;
  background-color: #FF6000;
  color:#FFFFFF;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 100px) and (max-width: 575px) {
    h1.page_title
  {
    margin-top: 120px;
    font-size: 30px;
    color: #FF6000;
  }
  #contact_content
  {
    padding-left: 10px !important;
    margin-top: 50px;
  }
}
@media (min-width: 576px) {
   h1.page_title
  {
    margin-top: 120px;
    font-size: 30px;
    color: #FF6000;
  }
  #contact_content
  {
    padding-left: 10px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   h1.page_title
  {
    margin-top: 120px;
    font-size: 30px;
    color: #FF6000;
  }
  #contact_content
  {
    padding-left: 50px !important;
  }
}
