.btn.btn-primary.btn-lg
{ 
  border-radius: 50px;
  background-color: #A1E533;
  border-color:#A1E533 ;
  color:#000000;
}
a.btn.btn-primary
{
  background-color: #A1E533;
  border-color:#A1E533;
  color:#000000;
}
.btn.btn-primary
{ 
  background-color: #A1E533;
  border-color:#A1E533 ;
  color:#000000;
}
