footer section
{
	color: black !important;
}
img.icon
{
	height: 35px;
	width: 35px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
.btn-outline-secondary:hover
{
  background-color: d9d9d9;
}
h6.droits
{
  margin-top:10px !important;
}
@media (min-width: 100px) and (max-width: 575px) {
    h1.footer.text-center.mt-5
  {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
   h1.footer.text-center.mt-5
  {
    font-size: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   h1.footer.text-center.mt-5
  {
    font-size: 20px;
  }
}
